

@import "node_modules/bootstrap/scss/bootstrap";

html {
    height: 100%;
    body {
        height: 100%;
        .web3modal-modal-lightbox{
            z-index:0;
        }
        #root {
            height: 100%;
            .app {
                background: rgb(92,0,89);
                background: linear-gradient(135deg, rgba(92,0,89,1) 0%, rgba(9,9,121,1) 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                #account-address{
                    width: 50%;
                }

                .btn-primary {
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    background-color: transparent;
                    border-color: white;
                    transition: background-color 0.25s ease-in-out;
                    &:hover{
                        background-color: rgba(255,255,255,0.1);
                    }
                    &:active{
                        background-color: rgba(255,255,255,0.5);
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}